<div class="row sub-file">
        <p-table [columns]="cols" [value]="subJobs" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subJob >
                        <tr>
                                <td  style="text-align:center;"><span class="{{subJob.style}}"> {{ subJob.status }} </span></td>
                                <td>{{subJob.subJobCode }}</td>
                                <td>{{subJob.customerName}}</td>
                                <td>{{subJob.lossAddress}}</td>
                                <td>{{subJob.city}}</td>
                                <td>{{subJob.state}}</td>
                                <td>{{subJob.zip}}</td>
                                <td>{{subJob.supervisor}}</td>
                                <td>{{subJob.estimator}}</td>
                                <td>{{subJob.createdDTTM}}</td>
                                <td  style="text-align:center;"><a routerLink="/Content/SubJobs/SubJobsDetails/{{subJob.jobHashCode}}"><img [src]="subJob.jobImage" title="{{subJob.jobType}}"></a> </td>
                        </tr>
                    </ng-template>
           
        </p-table>
</div>