<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
                <div class="row diff-row" style="background:#FFF;border:1px solid #CCC;box-sizing:border-box;padding:8px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Information</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">File Name</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <input type="text" style="width:85%;"/>
                                                </div>
                                        </div>
                                </div>
                                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 with-add part-info padding0">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Company Name</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <input type="text" style="width:65%;"/>
                                                    <span><img src="./assets/images/add.png"></span>
                                                </div>
                                        </div>
                                </div> -->
                                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Owner Name</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value cust">
                                                        <p-autoComplete 
                                                            [(ngModel)]="selectedOwner" 
                                                            [suggestions]="filteredCustomerNames"
                                                            (completeMethod)="filterCustomer($event)" 
                                                            [size]="30" 
                                                            field="name"
                                                            placeholder="Owner" 
                                                            [minLength]="1"  
                                                            name="selectedOwner"
                                                            [forceSelection]="true"
                                                            (onSelect)="onCustomerChange($event)"
                                                            (onClear)="onCustomerClear($event)" 
                                                            (onBlur)="onCustomerBlur($event)"                           
                                                            >
                                                        </p-autoComplete>
                                                </div>
                                        </div>
                                </div> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">First Name</div>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                <input type="text" [ngModel]="customerBasicInfo?.firstName"
                                                    (ngModelChange)="customerBasicInfo.firstName=$event"
                                                [readonly]="existingCustomer" name="customerBasicInfo.firstName"/>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Last Name</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <input type="text" [ngModel]="customerBasicInfo?.lastName"
                                                         (ngModelChange)="customerBasicInfo.lastName=$event"
                                                            [readonly]="existingCustomer"  name="customerBasicInfo.lastName"/>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value another">
                                                <input name="customerBasicInfo.email" [ngModel]="customerBasicInfo?.email" [pattern]="emailPattern" 
                                                        (ngModelChange)="customerBasicInfo.email=$event"   
                                                        #offEmail="ngModel"> 
                                                <div *ngIf="offEmail.errors"> 
                                                    <div *ngIf="offEmail.errors.pattern" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;"> 
                                                        Email is invalid
                                                    </div>	
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Home Phone</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.phone1" name="customerBasicInfo.phone1" 
                                                        (ngModelChange)="customerBasicInfo.phone1 = $event" [readonly]="existingCustomer"
                                                        unmask="true" placeholder="(999) 999-9999">
                                                </p-inputMask>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Cell Number</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        
                                            <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.mobile" name="customerBasicInfo.mobile" 
                                                    (ngModelChange)="customerBasicInfo.mobile = $event" [readonly]="existingCustomer"
                                                    unmask="true" placeholder="(999) 999-9999">
                                            </p-inputMask>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Work Number</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        
                                            <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.workPhone" name="customerBasicInfo.workPhone" 
                                                    (ngModelChange)="customerBasicInfo.workPhone = $event" [readonly]="existingCustomer"
                                                    unmask="true" placeholder="(999) 999-9999">
                                            </p-inputMask>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <address-form [address]="custAddress"></address-form>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Tenant Name</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <input  type="text"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Tenant Number</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <input type="text"/>
                                            </div>
                                        </div>
                                </div><!-- End of Column 12 Div -->
                                    
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value"> 
                                                <span class="loss-check" style="font-size:13px;color:#007acc;"><input type="checkbox" >Save Owner</span>
                                            </div>
                                        </div>
                                </div>
                        </div>
                </div><!-- End of Row -->
        </div><!-- End of Column 4 Div -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
                
                <div class="row diff-row" style="background:#FFF;border:1px solid #CCC;box-sizing:border-box;padding:8px;margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Insurance</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Pay</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <span class="loss-check" style="font-size:11px;"><input type="radio" [(ngModel)]="selfPay" 
                                                name="pay"  [ngModel]="selfPay" >Self Pay</span>
                                        <span class="loss-check" style="font-size:11px;"><input type="radio" name="pay">Insurance</span>
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="!selfPay" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Claim No.</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                        <input [(ngModel)]="claimNumber" name="claimNumber" type="text"/>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Policy No.</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                   <input [(ngModel)]="policyNumber" name="policyNumber" type="text"/>
                                            </div>
                                    </div>
                                </div>
                                 
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Insurance Company</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <p-autoComplete 
                                                        [(ngModel)]="insuranceCompany" 
                                                        [suggestions]="filteredInsuranceCompanys" 
                                                        (completeMethod)="filterIsuranceCompany($event)" 
                                                        field="companyName"
                                                        [size]="30"
                                                        [forceSelection]="true"
                                                        [dropdown]="true"
                                                        placeholder="Insurance Company" 
                                                        name="insuranceCompany">
                                                    </p-autoComplete>
                                                </div>
                                        </div>
                                </div>
                                
                        </div>
                </div><!-- End of Row -->
                <div class="row diff-row" style="background:#FFF;margin-top:5px;border:1px solid #CCC;box-sizing:border-box;padding:8px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Billing Address</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">
                                <span class="billing-check" style="font-size:10px;"><input type="checkbox" [(ngModel)]="isBillingAddressSame" name="BillingAddressSame" (ngModelChange)="isBillingAddressChanged()" [ngModel]="isBillingAddressSame" ></span>
                                <span class="billing-text">Same as Owner Address </span></div>
                        <address-form [address]="custAddress"></address-form>
                </div><!-- End of Row -->
                <!-- <div class="row diff-row" style="background:#FFF;margin-top:5px;border:1px solid #CCC;box-sizing:border-box;padding:8px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Loss Address</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">
                                <span class="loss-check" style="font-size:10px;"><input type="checkbox" [(ngModel)]="isLossAddressSame" name="LossAddressSame" (ngModelChange)="isLossAddressChanged()" [ngModel]="isLossAddressSame" ></span>
                                <span class="loss-text">Same as Owner Address </span></div>
                        <address-form [address]="custAddress"></address-form>
                </div> -->
        </div><!-- End of Column Div 4 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
                <div class="row diff-row" style="background:#FFF;margin-top:5px;border:1px solid #CCC;box-sizing:border-box;padding:8px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Details</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding-left:0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Cause of Loss</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <select 
                                                    [(ngModel)]="causeOfLossId" 
                                                    name="causeOfLossId" 
                                                    style="width:95%;"> 
                                                <option [value]="-1" required >[Select Cause of Loss]</option>
                                                            
                                                <option 
                                                        *ngFor="let causeOfLoss of causeOfLossIds"  
                                                    [ngValue]="causeOfLoss.configId"
                                                    [selected]="causeOfLoss.configId == -1"> {{causeOfLoss.configValue}} </option>
                                            </select> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Program Type</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <select [(ngModel)]="programTypeId" name="programTypeId" > 
                                              <option value="" selected>[-- Select--] </option>
                                              <option *ngFor="let PType of programtypes" [ngValue]="PType.programTypeId"> {{PType.programType}} </option>
                                            </select>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Year Built</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                <select [(ngModel)]="yearBuiltId" name="yearBuiltId" >
                                                  <option value="" [selected]="true">[-- Select--] </option> 
                                                  <option *ngFor="let yBuiltId of yearBuiltIds" [ngValue]="yBuiltId.configId"> {{yBuiltId.configValue}} </option>
                                                </select>     
                                            </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Property Type</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <span class="type-radio"><input type="radio" [(ngModel)]="propertyType"  value="Residential" name="propertyType"/>Residential</span>
                                            <span class="type-radio"><input type="radio"[(ngModel)]="propertyType"  value="Commercial" name="propertyType"/>Commercial</span>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Description</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <textarea [(ngModel)]="description" name="description" style="height:100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                    
                            </div> -->
                </div><!-- End of Row -->
                
                
                <!-- <div class="row diff-row" style="background:#FFF;border:1px solid #CCC;box-sizing:border-box;padding:8px;margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Responsible Party</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                        <span class="type-radio" style="margin-right:16px;">
                                                          <input type="radio" name="name"/>Owner
                                                        </span>
                                                        <span class="type-radio" style="margin-right:16px;">
                                                           <input type="radio" name="name"/>Property Manager
                                                        </span>
                                                        <span class="type-radio" style="margin-right:16px;">
                                                           <input type="radio" name="name"/>Company
                                                        </span>
                                            </div>
                                        </div>
                                </div>
                </div> -->
        </div>
    </div>