<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-head padding0" style="margin-top:10px;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 job-headLeft" style="padding-left:0px;"> 
         <!--<img src="../assets/images/white_board.png">--> Description
       </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 job-headRight text-right">
         <span (click)="showDialog()"><img src="../assets/images/edit_icon.png"></span>
       </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-fullinfo whiteboard">
            <!--<img src="../assets/images/job_view.png">-->
        <div class="whiteb-row" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 whiteb-text padding0">{{description}}</div>
        </div>
   </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 master-new-one" style="float:left;">
    <p-dialog header="Edit Description" [(visible)]="display" modal="modal" width="350" [responsive]="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Description Name</div> -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                   <textarea style="width:100%;height:80px;" [(ngModel)]="description" name="description"></textarea>
                </div>
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="updateDescription()" label="Update"></button>
            <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
        </p-footer>
    </p-dialog>