
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-types">
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-type-title">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-type-tab padding0">
         <a [routerLink]="['JobsCount', 'my']"  routerLinkActive="router-link-active" #myJobs="routerLinkActive"><img [src]="myJobs.isActive ?'../assets/images/my_job_.png':'../assets/images/my_job.png'">My </a>
    </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-type-tab padding0">
         <a [routerLink]="['JobsCount', 'all']"  routerLinkActive="router-link-active" #allJobs="routerLinkActive"><img [src]="allJobs.isActive ?'../assets/images/all_jobs_.png':'../assets/images/all_jobs.png'" >All</a>
    </div>
  </div> -->
  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="My" leftIcon="fa-user fa-lg">
      <router-outlet></router-outlet>
    </p-tabPanel>
    <p-tabPanel header="All" leftIcon="fa-users fa-lg">
      <router-outlet></router-outlet>
    </p-tabPanel>
</p-tabView>
  

    <!--<dashboard-jobscount></dashboard-jobscount>-->
  
</div>


