<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pic-div padding0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 pic-name" style="float:left;">pictures</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 pic-info">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 text-right" style="margin-top:10px;margin-bottom:-2px;">
                <span style="background:#CCC;padding:5px 10px;cursor:pointer;"><img src="../assets/images/add.png">Add New</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Folder</th>
                        <th>Uploaded By</th>
                        <th>Uploaded Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>Floor Damage</td>
                            <td><img src="../assets/images/floor1.png"></td>
                            <td>Images</td>
                            <td>Vincent</td>
                            <td>23th Jan 2018 10:00AM</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>Havoc Behind Walls</td>
                            <td><img src="../assets/images/floor2.png"></td>
                            <td>Images</td>
                            <td>Mathew</td>
                            <td>24th Jan 2018 10:00AM</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>Broken Sheets</td>
                            <td><img src="../assets/images/floor1.png"></td>
                            <td>Images</td>
                            <td>Arnold</td>
                            <td>25th Jan 2018 10:00AM</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>Floor Damage</td>
                            <td><img src="../assets/images/floor2.png"></td>
                            <td>Images</td>
                            <td>Kevin Mic</td>
                            <td>28th Jan 2018 10:00AM</td>
                        </tr>
                    </tbody>
            </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pic-btn" style="padding:8px 0px;float:left;">
                 <button class="up"><img src="../assets/images/upload.png"><span>Upload</span></button>
                 <button class="del"><img src="../assets/images/delete.png"><span>Delete</span></button>
            </div>
        </div>
    </div>
</div>