<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
          <div class="col-lg-2 col-md-2 col-sm-push-12 col-xs-push-12 text-right new-job">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" style="float:left;margin-bottom:20px;">
                        <span style="color:#0033cc;font-size:25px;">File Details</span>
                 </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-status text-center" style="padding:0px;">
                        <img src="../assets/images/water_50.png" title="Water">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-status text-center" style="padding:0px;float:left;margin:0px 0% 0px 0%;">
                    <span class="inp">In Progress</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-add" style="padding:0px 13px 0px 0px;width:100%;">
                    <a routerLink="/Content/MasterNumber/MasterNumberDetails/520709" style="color:#FFF;"><span class="job-icon"><img src="../assets/images/back-arrow.png"></span>
                    <span class="job-text" style="display:block;text-align:center;">M_Williams_131</span></a>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right all-pics" style="cursor:pointer;">
                    <!-- <a href="#"> -->
                        <span class="pic-icon"><img src="../assets/images/picture.png"></span><span>Pictures</span>
                    <!-- </a> -->
                </div>
         </div>
          <div class="col-lg-10 col-md-10 col-sm-pull-12 col-xs-pull-12" style="float:left">
              <subjobs-data></subjobs-data>
          </div>
        </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 jobs-details">
          <div class="row">
                <!-- <div class="subjob-div">
                   <common-notes></common-notes>
                </div> -->
             
              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                    <subjob-note></subjob-note>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-diff cont-roles-mile" style="float:left;">
                            <span style="display:block;cursor:pointer;text-align:right;" *ngIf="tabIndex==0"><img src="../assets/images/edit_icon.png" (click)="showDialog()"></span>
                            <span style="display:block;cursor:pointer;text-align:right;" *ngIf="tabIndex==1"><img src="../assets/images/edit_icon.png" (click)="showDialog1()"></span>
                            <p-tabView [activeIndex]="tabIndex" (onChange)="changeTab($event);">
                                <p-tabPanel header="Contacts"  >
                                    <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;padding-bottom:0px;">
                                                <common-contacts1></common-contacts1>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                                <p-tabPanel header="Roles">
                                    <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                                                <common-roles></common-roles>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                                <p-tabPanel header="Milestone" [selected]="true">
                                    <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;padding:5px 0px;">
                                                <common-milestone></common-milestone>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
              </div>
              <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                         <common-contacts1 [mastNumHash]="parameterID" [contactsFor]="MasterNumber"></common-contacts1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;margin-top:10px;">
                        <common-roles></common-roles>
                    </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;margin-bottom:10px;">
                          <common-milestone></common-milestone>
                        </div>
                   
                    
                </div> -->
          </div>
         </div>
         
         <!--  -->

         
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding0" style="float:left">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
               <!-- <subjob-pictures></subjob-pictures> -->
               <subjob-tasks></subjob-tasks>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
                <subjob-documents></subjob-documents>
              </div>
           </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
                <subjob-financial></subjob-financial>
            </div>
         </div>
     
      </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Contact" [(visible)]="display" modal="modal" width="350" [responsive]="true">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                      <basiccontact-form></basiccontact-form>
                      <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;float:right;margin-top:-32px;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                  </div>
                <!-- <p-footer>
                    <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                        <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </p-footer> -->
            </p-dialog>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Role" [(visible)]="display1" modal="modal" width="350" [responsive]="true">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Supervisor</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="supervisor" 
                                [suggestions]="filteredSupervisors" 
                                (completeMethod)="filterSupervisor($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Supervisor" 
                                name="supervisor">
                                </p-autoComplete>
                                <span (click)="showDialog2()"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Estimator</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="estimator" 
                                [suggestions]="filteredEstimators" 
                                (completeMethod)="filterEstimator($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Estimator" 
                                name="estimator">
                                </p-autoComplete>
                                <span (click)="showDialog2()"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Co-Ordinator</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="coordinator" 
                                [suggestions]="filteredCoordinators" 
                                (completeMethod)="filterCoordinator($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Co-Ordinator" 
                                name="coordinator">
                                </p-autoComplete>
                                <span (click)="showDialog2()"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Finance</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="finance" 
                                [suggestions]="filteredFinance" 
                                (completeMethod)="filterFinance($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Finance" 
                                name="finance">
                                </p-autoComplete>
                                <span (click)="showDialog2()"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                <p-footer>
                    <button type="button"  (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                    <button type="button" (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </p-footer>
            </p-dialog>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Add New Role" [(visible)]="display2" modal="modal" [responsive]="true" [width]="350">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">First Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Last Name</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <input type="text"/>
                                </div>
                        </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <input type="text"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <input type="text"/>
                                </div>
                        </div>
                </div>
                <p-footer>
                        <button type="button"  (click)="display2=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                        <button type="button" (click)="display2=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </p-footer>
            </p-dialog>
        </div>