<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 doc-div padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 doc-name" style="float:left;">Documents</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 doc-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="margin-top:10px;margin-bottom:-2px;">
                                <span style="cursor:pointer;" (click)="showDialog()"><img src="../assets/images/add.png"></span>
                            </div>
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Name</th>
                                <th>Types</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>Floor Damage</td>
                                <td>Agreement</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>Havoc Behind Walls</td>
                                <td>Agreement</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>Broken Sheets</td>
                                <td>Agreement</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>Floor Damage</td>
                                <td>Agreement</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center doc-btn" style="padding:8px 0px;float:left;">
                                <!-- <button class="up" (click)="showDialog()">
                                        <img src="../assets/images/add.png" style="width:30px;"><span>Add New</span>
                                </button> -->
                        <!-- <button class="up"><img src="../assets/images/upload.png"><span>Upload</span></button> -->
                        <button class="del"><img src="../assets/images/delete.png"><span>Delete</span></button>
                    </div>
                </div>
            </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Document" [(visible)]="display" modal="modal" width="450" [responsive]="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Document Upload</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                               <input type="file" style="width:95%;outline:none;"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Document Type</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <select>
                                    <option>Select</option>
                                    <option>Agreement</option>
                                    <option>Working Estimate</option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Comments</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                               <textarea style="width:100%;height:80px;"></textarea>
                            </div>
                        </div>
                </div>
                <p-footer>
                    <button type="button" pButton icon="fa-check" (click)="display=false" label="Create"></button>
                    <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                </p-footer>
        </p-dialog>
</div>