<div class="row" style="margin-left:0px;margin-right:0px;"  >
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;" >
      <layout-header></layout-header>
  </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="padding:0px;" >
      <layout-sidebar></layout-sidebar>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10" style="padding:0px;">
          <router-outlet> </router-outlet>
    </div>  
    
</div>