<div class="row main-task diff-task">
        <p-table [columns]="cols" [value]="tasks" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task >
                        <tr>
                                <td><span class="{{task.status}}"> {{ task.status }} </span></td>
                                <td>{{task.subJobCode}}</td>
                                <td style="text-align:center;">
                                    <a routerLink="/Content/SubJobs/SubJobsDetails/353867">
                                      <img [src]="task.jobImage" title="{{task.jobType}}">
                                    </a>
                                </td>
                                <td>{{task.title }}</td>
                                <td>{{task.dueDate}}</td>
                                <td style="text-align:center;"><img [src]="task.updtImg" title="{{task.updtImg}}" (click)="showDialog()"></td>
                        </tr>
                    </ng-template>
        </p-table>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Update Task Status" [(visible)]="display" modal="modal" [responsive]="true" [width]="350">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Task Title</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-taskvalue">
                                Add Job Note
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">File No.</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-taskvalue">
                                FN_jacky_12
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Status</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <select style="width:100%;">
                                <option>select</option>
                                <option>current</option>
                                <option>pending</option>
                                <option>completed</option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Comments</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <textarea style="width:100%;height:80px;"></textarea>
                    </div>
                </div>
            </div>
            <p-footer>
                    <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-arrow-up"></i>&nbsp;Update</button>
                    <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            </p-footer>
        </p-dialog>
</div>