html,body{/*background:#e6e6e6;*/overflow-x: hidden;background: #FFFFFF;}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #333;
}
.header-content{background: #f5f5f5;padding:0px 0px !important;float: left; box-shadow: 7px -7px 5px 6px #333;}
.header-main{font-size: 25px;text-transform: capitalize;color: #4d4d4d;/*text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);*/padding-top: 4px;}
.add-mster{padding: 0px;text-align: center;float: left;text-align: center;}
.add-mster button{padding: 8px 15px;color: #FFF;background: #8e5625;border: none;cursor: pointer;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;font-size: 14px;font-weight: 500;letter-spacing: 0.5px;margin-top: 5px;}

/*.header-left{width: 70%;float: left;font-size: 20px;padding: 11px 0px;font-weight: bold;}
.header-right{width: 30%; float: left;}*/
.location{/*width: 50%;*/ background: #00caef;float: left;padding: 10px 15px;}
.location span{display: block;}
#locname {background: transparent;border: none;font-size: 16px;letter-spacing: 0.5px;outline: none;width: 80%;cursor: pointer;color: #FFF;border-left: 1px solid #F2F2F2;box-sizing: border-box;margin-left: 5px;padding-left: 5px;margin-top: 3px;}
#locname option {background-color: #FFF;color: #4d4d4d;}
/*.location select{background: transparent;border: none;font-size: 16px;letter-spacing: 0.5px;outline: none;width: 83%;cursor: pointer;color: #FFF;border-left: 1px solid #F2F2F2;box-sizing: border-box;margin-left: 5px;padding-left: 5px;margin-top: 3px;}
.location #loc options{background-color: #00caef;}*/
.location .btn-primary{background: transparent;border: none;color: #FFF;border-radius: 0px;}
.location .btn-primary.focus, .btn-primary:focus{box-shadow: none;color: #FFF;}
.location .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{color: #FFF;}
.location .dropdown-menu{border-radius: 0px;}

.user-info{/*width: 50%; */padding: 0px 0px;margin: 2px 0px 0px 0px;float: left;text-align: center;}
.user-info span{display: inline-block;vertical-align: middle;font-size: 17px;letter-spacing: 0.5px;}
.user-info .btn-primary{background: transparent;border: none;color: #4d4d4d;border-radius: 0px;}
.user-info .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background: transparent;color: #4d4d4d;}
.user-info .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow: none;}
.user-info .dropdown-menu{border-radius: 0px;background: #00caef;border: none;padding: 0px;}
.user-info .dropdown-menu:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    border-color: rgba(20, 77, 82, 0);
	border-bottom-color: #144d52;
	/*border-color: rgba(45, 167, 179, 0);
	border-bottom-color: #00caef;*/
	border-width: 12px;
    margin-left: 33%;
}
.user-info .dropdown-item{color: #FFFFFF;}
.user-info .dropdown-item:hover{background: #144d52;}
.user-info .dropdown-menu.show{right: 0px !important;left: auto !important;}

.main-information{width: 97.9%;float: left;padding: 10px;}
.main-information table{width: 100%;padding: 0px;margin: 0px;text-align: center;border-collapse: collapse;}
.main-information table thead, .main-information table thead tr th{border: 1px solid #CCC;box-sizing: border-box;padding: 2px 3px;}
.main-information table tbody, .main-information table tbody tr td{border: 1px solid #CCC;box-sizing: border-box;padding: 2px 3px;}
.main-information table thead, .main-information table thead tr th:nth-child(1){width:10%;}
.main-information table thead, .main-information table thead tr th:nth-child(2){width:15%;}
.main-information table thead, .main-information table thead tr th:nth-child(3){width:15%;}
.main-information table thead, .main-information table thead tr th:nth-child(4){width:10%;}
.main-information table thead, .main-information table thead tr th:nth-child(5){width:25%;}
.main-information table thead, .main-information table thead tr th:nth-child(6){width:10%;}
.main-information table tbody, .main-information table tbody tr td:nth-child(6){text-align: center;}
.main-information table thead, .main-information table thead tr th:nth-child(7){text-align:center;width:5%;}
.main-information table tbody, .main-information table tbody tr td:nth-child(7){text-align: center;}

.main-information .ui-table-caption,.main-information .ui-table-summary{padding-left:0px !important;padding-right:0px !important;}
.main-information .filter-in{padding: 0px 5px;border: 1px solid #CCC;box-sizing:border-box;font-size: 12px;height:30px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;outline: none;}
.menu-section{background: #3a3a3d;text-align: center;}
.menu-section span{display: block;text-align: center;}
img.logo{padding: 0px 0px;}
.menu-section ul{width: 100%;padding: 0px;margin: 5px 0px 0px 0px;}
.menu-section ul a{text-decoration: none;color: #FFF;}
.menu-section ul a li{display: block;padding:15px 0px;margin: 0px;list-style-type: none;border-top: 1px solid #e5e5e5;box-sizing: border-box;}
.menu-section ul a li:hover{background:#00caef;color: #FFF;}
.menu-section ul a li span{display: block;text-align: center;letter-spacing: 0.5px;font-size: 16px;padding: 10px 0px;}

.login-div{background: #3a3b3e;width: 80%;margin: 100px 10%;padding: 0px;float: left;height:385px;}
.login-left{width:55%;float: left;}
.login-type{width: 20%;float: left;}
.login-type ul{width: 100%;padding: 0px;margin:110px 0px 0px 0px;overflow: hidden;}
.login-type ul a{text-decoration: none;color: #FFF;}
.login-type ul a li{width: 100%;padding:5px 0px;margin: 0px 0px 40px 0px;text-align: center;font-size: 16px;letter-spacing: 0.5px;}
.login-type ul a li span{display: block;margin: 6px 0px;}
.basic-info{width:350px;float: left;text-align: center;position: absolute;left: 19%;top: 14%;
    height: 400px;
    -moz-box-shadow: 0 0 5px #4e4e4f;
-webkit-box-shadow: 0 0 5px#4e4e4f;
box-shadow: 0 0 5px #4e4e4f;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d0f7+0,007ca5+53,00597c+96,003c4c+100 */
background: rgb(0,208,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,208,247,1) 0%, rgba(0,124,165,1) 53%, rgba(0,89,124,1) 96%, rgba(0,60,76,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,208,247,1) 0%,rgba(0,124,165,1) 53%,rgba(0,89,124,1) 96%,rgba(0,60,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,208,247,1) 0%,rgba(0,124,165,1) 53%,rgba(0,89,124,1) 96%,rgba(0,60,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d0f7', endColorstr='#003c4c',GradientType=0 ); /* IE6-9 */}
.basic-info span{display: block;color: #FFF;letter-spacing: 0.5px;}
span.wel-text{margin-top: 110px;}
span.cmpny-text{text-align: center;padding: 0px 10px;letter-spacing: 0.5px;margin-top: 5px;}
.basic-info span img{vertical-align: middle;}

.login-right{width: 39%;float: left;padding: 30px 0px 45px 0px;}
.logo-login{width: 100%;padding: 0px 0px;margin: 0px 0px;text-align: center;}
.login-form{width: 100%;padding: 0px 0px;margin: 0px;text-align: center;}
.login-form span{display: block;margin: 15px 0px;padding: 0px;}
.login-form span input{width: 80%;padding: 0px 10px;margin: 0px 10%;height: 40px;outline: none;border: 1px solid #00caef;box-sizing: border-box;font-size: 16px;letter-spacing: 0.5px;}
span.fgpwd{color: #FFF;letter-spacing: 0.8px;display: block;}
.login-form span img{cursor: pointer;}
.submit-btn{padding: 6px 15px;letter-spacing:0.5px;outline:none;margin-top:10px;cursor:pointer;border:3px solid #F2F2F2;box-sizing:border-box;color:#FFF;font-size:16px;font-weight:600;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;
    background: rgb(0,208,247); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,208,247,1) 0%, rgba(0,124,165,1) 53%, rgba(0,89,124,1) 96%, rgba(0,60,76,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,208,247,1) 0%,rgba(0,124,165,1) 53%,rgba(0,89,124,1) 96%,rgba(0,60,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,208,247,1) 0%,rgba(0,124,165,1) 53%,rgba(0,89,124,1) 96%,rgba(0,60,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d0f7', endColorstr='#003c4c',GradientType=0 ); /* IE6-9 */
}

.top-row{width: 98%;margin:0px 1% 0px 1%;float: left;}
.top-first{width: 25%;float: left;}
.masterNumber{ /*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/width: 100%;padding: 0px;/*height: 150px;*/margin: 0px 0px;background: #FFF;float: left;border: 1px solid #CCCCCC;box-sizing: border-box;}
.master-left{width: 27%;float: left;padding: 0px;margin: 0px;background: #53ad56;height: 150px;position: relative;}
.master-left span img{margin-top: 20px;opacity: 0.4;width: 40px;}
.master-left span{display: block;color: #FFF;text-align: center;font-size: 25px;}
.master-left .title-name{width: 100%;position: absolute;bottom: 0px;background: #3a3b3e;color: #FFF;font-size: 11px;letter-spacing: 0.7px;text-align: center;padding: 7px 0px;text-transform: capitalize;}
.master-right{width: 73%;float: left;padding:5px 0px;margin: 0px;/*height: 150px;*/}

.financial{/*height: 150px;*/ /*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/width: 100%;padding: 0px;float: left;margin:10px 0px;background: #FFF;border: 1px solid #CCCCCC;box-sizing: border-box;}
.financial-left{height: 115px;width: 27%;float: left;padding: 0px;margin: 0px;background: #e37f1b;float: left;position: relative;}
.financial-left span img{margin-top: 8px;opacity: 0.4;width: 50px;}
.financial-left span{display: block;color: #FFF;text-align: center;font-size: 25px;margin-top: -6px;}
.financial-left .title-name{width: 100%;word-wrap: break-word; position: absolute;bottom: 0px;background: #3a3b3e;color: #FFF;font-size: 11px;letter-spacing: 0.7px;text-align: center;padding: 7px 0px;text-transform: capitalize;}
.financial-right{width: 73%;float: left;padding: 0px;margin: 0px;}
.financial-top{width: 100%;padding:10px 0px;margin: 0px;border-bottom: 1px solid #CCC;box-sizing: border-box;float: left;}
.financial-top span{display: inline-block;font-size: 12px;color: #636363;padding: 5px 10px;float: left;}
.financial-top span img{vertical-align: middle;}
.financial-top span.exp-count{text-align:right;font-weight:600;font-size:17px;padding:5px 10px 0px 10px;margin-left:30px;}
.financial-bottom{width: 100%;padding:5px 0px;margin: 0px;float: left;/*height: 75px;*/}
.financial-bottom span img{vertical-align: middle;}
.financial-bottom span{display: inline-block;font-size: 12px;color: #636363;padding: 5px 10px;}
.financial-bottom span.r-count{text-align:right;font-weight:600;font-size:17px;padding:5px 10px 0px 10px;margin-left:45px;}

.customer{/*height: 150px;*/ /*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/width: 100%;padding: 0px;/*height: 150px;*/margin:0px 0px;background: #FFF;float: left;border: 1px solid #CCCCCC;box-sizing: border-box;}
.customer-left{height: 112px;width: 27%;float: left;padding: 0px;margin: 0px;background: #1d83cb;/*height: 150px;*/position: relative;}
.customer-left span img{margin-top: 15px;opacity: 0.4;width: 40px;}
.customer-left span{display: block;color: #FFF;text-align: center;font-size: 25px;margin-top: -6px;}
.customer-left .title-name{width: 100%;word-wrap: break-word; position: absolute;bottom: 0px;background: #3a3b3e;color: #FFF;font-size: 11px;letter-spacing: 0.7px;text-align: center;padding: 7px 0px;text-transform: capitalize;float: left;}
.customer-right{width: 73%;float: left;padding: 0px;margin: 0px;/*height: 150px;*/float: left;}
.right-top{width: 100%;padding:0px 0px 0px 0px;margin: 0px;/*height: 75px;*/border-bottom: 1px solid #CCC;box-sizing: border-box;float: left;}
.right-top span{display: block;text-align: center;margin: 3px 0px;font-size: 12px;color: #636363;}
.right-bottom{width: 100%;padding:0px 0px 0px 0px;margin: 0px;float: left;/*height: 75px;*/}
.right-bottom span{display: block;text-align: center;margin: 3px 0px;font-size: 12px;color: #636363;}

.top-second{width: 50%;float: left;}
.tasklist{/*width: 90%;*/margin: 10px 0px;/*height: 200px;overflow-y: auto;*/}
.tasklist table{width: 100%;padding: 0px;margin: 0px;border-collapse: collapse;-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;background: #FFF;border: none;}
.tasklist table thead{background: #FFF;font-size: 12px;}
.tasklist table thead tr th{padding: 5px 5px;border: 1px solid #CCC;box-sizing: border-box;text-align: center;letter-spacing: 0.5px;}
.tasklist table thead tr th:first-child{text-align: left;padding-left: 10px;border-left: none;}
.tasklist table thead tr th:last-child{border-right: none;}
.tasklist table tbody tr td{border: 1px solid #CCC;box-sizing: border-box;padding: 0px 10px;text-align: center;vertical-align: middle;font-size: 11px;}
.tasklist table tbody tr td:first-child{border-left: none;text-align: left;width: 45%;font-weight: 500;}
.tasklist table tbody tr td:nth-child(2){width: 10%;}
.tasklist table tbody tr{background: #e6e6e6;}
.tasklist table tbody tr:last-child td{border-bottom: none;}
.tasklist table tbody tr td:last-child{border-right: none;background: #6f7176;color: #FFF;width: 20%;}
.tasklist table tbody tr td span{font-size: 13px;letter-spacing: 0.5px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;width: 70px;display: block;width: 100%; text-align: center;}
.tasklist table tbody tr td span.upcoming{padding: 0px 8px;color: #FFF;background: #41c1e1;}
.tasklist table tbody tr td span.current{padding: 0px 8px;color: #FFF;background: #b3cc58;}
.tasklist table tbody tr td span.pending{padding: 0px 8px;color: #FFF;background: #fdb24c;}
.tasklist table tbody tr td img{cursor: pointer;width: 25px;}
.tasklist .dataTables_wrapper .dataTables_scroll{/*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.tasklist .dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom: none;}
.tasklist .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tasklist .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.tasklist .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #333;
}

.subtask{/*width: 90%;*/margin: 10px 0px 20px 0px;float:left;/*height: 200px;overflow-y: auto;*/}
.subtask table{width: 100%;padding: 0px;margin: 0px;border-collapse: collapse;/*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/background: #FFF;border: 1px solid #CCCCCC;box-sizing: border-box;}
.subtask table thead{background: #efefef;font-size: 12px;}
.subtask table.dataTable.no-footer{border-bottom: none;}
.subtask table thead tr th{padding: 8px 5px;border: 1px solid #CCC;box-sizing: border-box;text-align: center;letter-spacing: 0.5px;}
.subtask table thead tr th:first-child{text-align: left;padding-left: 10px;border-left: none;}
.subtask table thead tr th:last-child{border-right: none;}
.subtask table tbody tr td{border: 1px solid #CCC;box-sizing: border-box;padding: 2px 10px;text-align: center;vertical-align: middle;font-size: 11px;}
.subtask table tbody tr td:first-child{border-left: none;text-align: left;width: 45%;font-weight: 500;}
.subtask table tbody tr td:nth-child(2){width: 20%;}
.subtask table tbody tr:last-child td{border-bottom: none;}
.subtask table tbody tr td:last-child{border-right: none;background: #6f7176;color: #FFF;width: 20%;}
.subtask table tbody tr td span{font-size: 13px;letter-spacing: 0.5px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;width: 70px;display: block;width: 100%; text-align: center;}
.subtask table tbody tr td span.upcoming{padding: 0px 8px;color: #FFF;background: #41c1e1;}
.subtask table tbody tr td span.current{padding: 0px 8px;color: #FFF;background: #b3cc58;}
.subtask table tbody tr td span.pending{padding: 0px 8px;color: #FFF;background: #fdb24c;}
.subtask table tbody tr td img{cursor: pointer;}
.subtask .dataTables_wrapper .dataTables_scroll{-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;}
.subtask .dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom: none;}
.subtask .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.subtask .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.subtask .dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #333;
}
.top-third{width: 25%;float: left;}
.status-wall{width: 100%;padding: 0px;margin:10px 0px;/*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/background: #FFF;border: 1px solid #CCCCCC;box-sizing: border-box;}
.status-title{font-size:14px;padding: 7px 10px;color: #333333;background:#d9d9d9;/*background: #2da7b3;*//*background: #00caef;*/letter-spacing: 0.5px;font-weight: 600;}
.status-info{width: 100%;padding:30px 0px 10px 0px;margin: 0px;height: 500px;overflow-y: hidden;}
.status-info:hover{overflow-y: auto;}
.status-info::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.status-info::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.status-info::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #333;
}
.info-data{width: 80%;padding: 0px;margin: 0px 10%; border-left: 1px solid #00caef;box-sizing: border-box;position: relative;}
.time-info{position: absolute;background: #008299;color: #FFF;padding: 3px 10px;left: 20px;top: -16px;font-size: 12px;}
.time-info:after {right: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(0, 158, 186, 0);border-right-color: #006c80;border-width: 5px;margin-top: -5px;}
.info-data img{position: absolute;left: -10px;top: -15px;}
.info{width: 100%;padding: 20px 10px 30px 20px;margin: 0px 0px 0px 0px;}
.info span{display: block;font-size: 11px;}
span.main-title{font-weight: bold;}
span.desc{color: #737373;}

.bottom-row{width: 98%;margin:0px 1% 0px 1%;float: left;}
.bottom-first{width: 25%;float: left;}
.jobs-location{width: 100%;float: left;padding: 0px;margin:10px 0px 10px 0px;/*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/background: #FFF;border: 1px solid #CCCCCC;box-sizing: border-box;}
.jobs-title{padding: 8px 10px;font-size: 14px;background: #ededed;font-weight: 600;}
.bottom-second{width: 50%;float: left;}
.bottom-third{width: 25%;float: left;}
.jobs-map{height: 145px;border-top: 1px solid #CCC;box-sizing: border-box;}
agm-map {height: 100%;width: 100%;}

.bottom-second{width: 50%;float: left;}
.job-types{/*width: 90%;*/padding: 0px;margin:10px 0px 10px 0px;/*-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;*/float: left;}
.job-type-title{padding: 0px;float: left;background: #3a3a3d;}
.job-type-tab{/*padding: 3px 10px;*/color: #FFF;font-size: 12px;font-weight: 500;text-align: center;float: left;border-right:1px solid #CCC;box-sizing: border-box;cursor: pointer;}
.job-type-tab a{padding: 2px 5px;float: left;text-decoration: none;width:100%;}
.job-type-tab:last-child{border-right:none;}
.job-info-left{padding: 0px;margin: 0px;float: left;height: 150px;background: #c74e78;}
.job-info-left span{display: block;text-align: center;font-size: 25px;color: #FFF;}
.job-info-left span img{margin-top:20px;}
.job-status .bar-status hr.front{height: 3px;margin: 0px;padding: 0px;background: #c74e78;border-radius: 50px;position: absolute;top: 0px;/*width: 15px;*/}
.job-info-left .title-name{width: 100%;position: absolute;bottom: 0px;background: #3a3b3e;color: #FFF;font-size: 13px;letter-spacing: 0.7px;text-align: center;padding: 8px 0px;text-transform: uppercase;}
.job-info-right{background: #FFF;height: 150px;float: left;padding:5px 0px;}
.job-type-tab a{color: #FFF;}
.job-type-tab:hover, .job-type-tab.active{background: #009eba;}
.job-type-info{width: 100%;padding: 0px;margin: 0px;float: left;height: 150px;}
.type-list{width: 100%;float: left;padding: 0px;margin: 0px;float: left;background: #FFF;}
.type-list ul{width: 100%;padding: 0px;margin: 0px;float: left;}
.type-list ul a{text-decoration: none;color: #4e4e4f;}
.type-list ul a li{padding: 8px 13px;margin:0px 0px;float: left;list-style-type: none;border-right: 1px solid #bdbec1;box-sizing: border-box;}
.type-list ul a li:hover{background: #00caef;color: #FFF;}
.type-list ul a li.last{border-right: none;}
.type-list ul a li span{display: block;text-align: center;font-size: 15px;letter-spacing: 0.5px;}
.type-info{width: 100%;padding: 0px;margin: 0px;float: left;background: #ededed;box-shadow: 14px -15px 4px -15px #333;}
.type-info .row:nth-child(even){background: #FFF;}
.type-info .row:last-child{border-bottom: none;}
.row{width: 100%;padding: 0px;margin: 0px;float: left;/*border-bottom: 1px solid #CCC;box-sizing: border-box;*/}
.type-left{padding: 10px 8px;color: #FFF;background: #6f7176;font-size: 14px;}
.type-right{padding:10px 8px;color: #3a3b3e;font-size: 14px;}

.bottom-third{width: 25%;float: left;}
.tpsjobs{ -moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;width: 100%;padding: 0px;height: 275px;margin: 20px 0px;background: #FFF;}
.tpsjobs-left{width: 35%;float: left;padding: 0px;margin: 0px;background: #78679b;height: 275px;position: relative;}
.tpsjobs-left span img{margin-top: 80px;opacity: 0.4;}
.tpsjobs-left span{display: block;color: #FFF;text-align: center;font-size: 25px;}
.tpsjobs-left .title-name{width: 100%;position: absolute;bottom: 0px;background: #3a3b3e;color: #FFF;font-size: 13px;letter-spacing: 0.7px;text-align: center;padding: 10px 0px;text-transform: uppercase;}
.tpsjobs-right{width: 65%;float: left;padding: 0px;margin: 0px;height: 275px;}


.router-link-active {
	color: #FFF;
    background: #009eba;
    font-weight: 600;
}



/***** Bootstrap Customized Styles ****/
.container-fluid{padding-left: 0px;padding-right: 0px;}
#sidebar {
    /*min-width: 250px;
    max-width: 250px;*/
    background: #3a3a3d;
    color: #fff;
    transition: all 0.3s;
    height: 100%;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    /*font-size: 0.85em;*/
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    /*font-size: 1.8em;*/
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding:10px 0px;
    background: #3a3a3d;
    text-align: center;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 0px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul li a {
    padding:5px 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    display: block;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}
#sidebar ul li{border-top: 1px solid #CCC;box-sizing: border-box;}
#sidebar ul li a span{display: block;/*font-weight: 500;*/letter-spacing: 0.7px;}
#sidebar ul li a span img{/*width: 40px;*/}
#sidebar ul li a:hover {
    color: #FFF;
    /*background: #00caef;*/
    background: #009eba;
    font-weight: 600;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #009eba;
    font-weight: 600;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}*/


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}*/

/***** Master Number Styles ****/
.mater-table{margin: 20px 0px;float: left;}
.master-tabs{padding: 0px;float: left;}
.master-tabs ul{width: 100%;padding: 0px;margin: 5px 0px 10px 0px;;float: left;/*border-bottom: 3px solid #00caef;*/border-bottom:3px solid #2da7b3;box-sizing: border-box;}
.master-tabs ul li{padding: 5px 0px 0px 0px;;margin: 0px;float: left;list-style-type: none;background: #3d3d40;color: #FFF;font-size: 13px;letter-spacing: 0.5px;border-left: 1px solid #FFF;box-sizing: border-box;cursor: pointer;}
.master-tabs ul li a{color: #FFF;text-decoration: none;padding: 10px 10px;}
/*.master-tabs ul li:hover{background: #008cab;color: #FFF;}*/
.master-tabs ul li:first-child{border-left: none;}
.master-info{width: 100%; float: left;margin-top: 20px;}
.master-info table{/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/}
.master-info table thead tr th{background: #ededed; text-align: left;font-size: 11px;/*font-weight: 500;*/letter-spacing: 0.5px;padding: 5px 10px;}
.master-info table tbody tr td{padding: 5px 10px;color: #404040;text-align: left;font-size: 13px;}
.master-info table tbody tr td:last-child{display: none;}
.master-info table tbody tr td img{cursor: pointer;outline: none;}
.master-info table tbody tr td span.jobs-count{background-image: url(../src/assets/images/box.png);background-repeat: no-repeat;background-size: cover;/*background: #008cab;*/color: #FFF;padding: 7px 13px;font-size: 12px;font-weight: 500;display: inline-block;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;cursor: pointer;}
.dataTables_length{font-size: 14px;color: #404040;}
.master-info .dataTables_wrapper .dataTables_filter{float: left;margin-left: 40px;color: #404040;font-size: 14px;}
.master-info .dataTables_wrapper .dataTables_filter input{border: none;border: 1px solid #00caef;box-sizing: border-box;outline: none;}
.master-info table tbody tr td img{cursor: pointer;}
.master-info .dataTables_wrapper .dataTables_scroll{-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;}


.subjobs-tabs{padding: 0px;float: left;}
.subjobs-tabs ul{width: 100%;padding: 0px;margin: 5px 0px 10px 0px;;float: left;/*border-bottom: 3px solid #00caef;*/border-bottom:3px solid #2da7b3;box-sizing: border-box;}
.subjobs-tabs ul li{padding: 5px 0px 0px 0px;;margin: 0px;float: left;list-style-type: none;background: #3d3d40;color: #FFF;font-size: 13px;letter-spacing: 0.5px;border-left: 1px solid #FFF;box-sizing: border-box;cursor: pointer;}
.subjobs-tabs ul li a{color: #FFF;text-decoration: none;padding: 10px 10px;}
/*.master-tabs ul li:hover{background: #008cab;color: #FFF;}*/
.subjobs-tabs ul li:first-child{border-left: none;}
.subjobs-info{width: 100%; float: left;margin-top: 20px;}
.subjobs-info table{/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/}
.subjobs-info table thead tr th{background: #ededed; text-align: left;font-size: 11px;/*font-weight: 500;*/letter-spacing: 0.5px;padding: 5px 10px;}
.subjobs-info table tbody tr td{padding: 5px 10px;color: #404040;text-align: left;font-size: 13px;}
.subjobs-info table tbody tr td img{cursor: pointer;outline: none;}
.subjobs-info table tbody tr td span.jobs-count{background-image: url(../src/assets/images/box.png);background-repeat: no-repeat;background-size: cover;/*background: #008cab;*/color: #FFF;padding: 7px 13px;font-size: 12px;font-weight: 500;display: inline-block;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;cursor: pointer;}
.dataTables_length{font-size: 14px;color: #404040;}
.subjobs-info .dataTables_wrapper .dataTables_filter{float: left;margin-left: 40px;color: #404040;font-size: 14px;}
.subjobs-info .dataTables_wrapper .dataTables_filter input{border: none;border: 1px solid #00caef;box-sizing: border-box;outline: none;}
.subjobs-info table tbody tr td img{cursor: pointer;}
.subjobs-info .dataTables_wrapper .dataTables_scroll{-moz-box-shadow: 0 0 5px #4e4e4f;-webkit-box-shadow: 0 0 5px#4e4e4f;box-shadow: 0 0 5px #4e4e4f;}

.add-list{padding:0px;/*position: absolute;*/text-align: right;}
.add-list img{cursor: pointer;}
.add-btn{float: right;background: #008cab;padding:0px 10px 0px 0px;color: #FFF;font-size: 15px;height: 28px;margin: 0px 10px;cursor: pointer;}
.add-btn span{display: inline-block;}
.add-btn span.plus{background: #006e7a;padding:  0px 10px 5px 10px;margin-right: 5px;}
.add-btn span.plus img{width: 15px;margin-top: 1px;}
.add-btn span.text{vertical-align: middle;font-weight: 500;}

.details-row{background: #FFF;float: left;padding:5px 0px;margin-top: 20px;/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.padding0{padding: 0px;}
.details-text{font-size: 11px;margin: 0px;color: #c2c2c2;font-weight: 500;letter-spacing: 0.5px;}
.details-value{font-size: 11px;margin: 0px;color: #4a4a4a;font-weight: 500;}
.new-job{float: left;margin-top:20px;}
.job-add{float: right;background: #008cab;padding: 0px 20px 0px 0px;color: #FFF;font-size: 15px;/*height: 25px;*/margin:5px 0px 0px 0px;cursor: pointer;}
.job-add span{}
.job-add span.job-icon{background: #006e7a;padding: 0px 10px 2px 10px;margin-right: 5px;float: left;display: inline-block;}
.job-add span.job-icon img{}
.job-add span.job-text{vertical-align: middle;font-weight: 500;font-size: 12px;display: inherit;text-align: center;padding: 4px 0px;}

.job-mail{float: right;background: #cf5353;padding: 0px 10px 0px 0px;color: #FFF;font-size: 15px;/*height: 25px;*/margin: 0px 0px 0px 0px;cursor: pointer;}
.job-mail span{display: inline-block;}
.job-mail span.job-mail-icon{background: #873a3a;padding: 0px 10px 4px 10px;margin-right: 5px;float: left;display: inline-block;}
.job-mail span.job-mail-text{vertical-align: middle;font-weight: 500;font-size: 12px;display: inherit;text-align: center;padding: 4px 0px;}

.jobs-details{margin: 20px 0px 10px 0px;background: #d1d1d1;padding-bottom: 20px;-moz-box-shadow:inset 0 0 4px #4a4a4a;-webkit-box-shadow:inset 0 0 4px #4a4a4a;box-shadow:inset 0 0 4px #4a4a4a;}
.job-head{float: left;}
.job-headLeft{float: left;font-size: 11px;font-weight: bold;color: #4a4a4a;text-transform: uppercase;letter-spacing: 0.5px;margin-top:10px;}
.job-headLeft img{vertical-align: middle;}
.job-headRight{float: left;padding-right: 0px;}
.job-headRight img{cursor: pointer;}
.job-div{width: 17%;float: left;margin: 15px 2% 0px 1%;}
.subjob-div{width: 23%;float: left;margin: 15px 1% 0px 1%;}
.job-fullinfo{background: #407980;height: 200px;padding: 0px;margin: 0px;position: relative;color: #FFF;overflow: hidden;/*box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.job-fullinfo .ui-scrollpanel-bar-x{display: none;}
.job-fullinfo .ui-widget-content{background: transparent;color: #FFF;border: none;}
.job-fullinfo img{position: absolute;bottom: 5px;right:5px;cursor: pointer;z-index: 100;}
.job-fullinfo .job-row{border-bottom: 1px solid #336066;box-sizing: border-box;padding:3px 0px;margin: 3px 10px;}
.job-Pname{font-size: 12px;font-weight: 500;letter-spacing: 0.7px;}
.job-Cname{font-size: 11px;letter-spacing: 0.5px;}
.job-Tname{font-size: 10px;margin-top:3px;letter-spacing: 0.7px;}

.contact{background: #4d6b91;/*box-shadow: 0 0 5px #888;*/}
.contact-row{padding:5px 0px;margin: 5px 10px;float: left;}
.contact-text{font-size: 11px;margin-top:3px;letter-spacing: 0.7px;}
.contact-value{font-size: 11px;font-weight: 450;letter-spacing: 0.7px;}
.contact-value img.contact-img{float: left;position: static;margin-top: -5px;}
.som-space{margin-left: 45px;padding: 0px;}
.contact-icon img{margin-top:32px;position: static;}

.file{background: #8f8372;/*box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.file-row{width:90%;padding:8px 0px;margin: 0px 10px;float: left;border-bottom: 1px solid #71685b;box-sizing: border-box;}
.paddingT5{padding-top: 5px;}
.file-text{font-size: 11px;margin-top:3px;letter-spacing: 0.7px;}
.file-value{font-size: 11px;font-weight: 450;letter-spacing: 0.7px;}

.insurance{background: #6c915d;/*box-shadow: 0 0 5px #888;*/}
.insurance-row{padding:3px 0px;margin: 3px 10px;}
.insurance-text{font-size: 11px;margin-top:3px;letter-spacing: 0.7px;}
.insurance-value{font-size: 11px;font-weight: 450;letter-spacing: 0.7px;}

.milestone{background: #9f5ab0;/*box-shadow: 0 0 5px #888;*/}
.milestone:hover{overflow-y: auto;}
.milestone-row{padding:3px 0px;margin: 3px 10px;}
.milestone-text{font-size: 11px;margin-top:3px;letter-spacing: 0.7px;}
.milestone-value{font-size: 11px;font-weight: 450;letter-spacing: 0.7px;}

.whiteboard{background:#946c9e;/*box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.whiteb-row{width: 86%; padding:10px 0px;margin: 3px 7%;border-bottom: 1px solid #815c8a;box-sizing: border-box;font-weight: normal;}
.whiteb-text{padding: 1px 0px;font-size: 11px;letter-spacing: 0.7px;font-weight: 500;}

.all-pics{margin: 6px 0px;padding-right: 30px;font-weight: 500;letter-spacing: 0.5px;text-decoration: underline;float: left;}
.all-pics span{display: block;text-align: center;font-size: 12px;}
.detailstable{margin: 25px 0px;}
.detailstable table{/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/background: #FFF;border: 1px solid #CCCCCC;box-sizing: border-box;}
.detailstable table thead tr th{background: #ededed; text-align: left;font-size: 13px;font-weight: 500;letter-spacing: 0.5px;padding: 5px 10px;border-bottom: none;border: 1px solid #CCCCCC;box-sizing: border-box;}
.detailstable table tbody tr td{padding: 5px 10px;color: #404040;text-align: left;font-size: 12px;border-right: 1px solid #CCCCCC;box-sizing: border-box;border-bottom: none;}
.detailstable table tbody tr td:last-child{text-align: center;} 
.detailstable table tbody tr td img{cursor: pointer;outline: none;}
.detailstable table tbody tr td span.jobs-count{/*background-image: url(../src/assets/images/box.png);background-repeat: no-repeat;background-size: cover;*/background: #008cab;color: #FFF;padding: 5px 13px;font-size: 16px;font-weight: 500;display: inline-block;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;cursor: pointer;}
.dataTables_length{font-size: 14px;color: #404040;}

.paddingR0{padding-right: 0px;}
.status-row{margin: 2px 0px;padding: 0px;float: left;}
.bar-div{margin: 0px 0px;float: left;}
.bar-text{text-transform: capitalize;color: #404040;font-size: 11px !important;float: left;font-weight: 500;padding-left: 10px;letter-spacing: 0.5px;}
.bar-value{color: #404040;font-size: 11px !important;float: left;font-weight: 500;padding-left: 0px;}
.bar-status{width: 90%;float: left;margin: 0px 5%;position: relative;padding: 3px 0px;}
.bar-status hr.back{width: 100%; height: 3px;margin: 0px;padding: 0px;background: #bababa;border-radius: 50px;position: absolute;top: 0px;float: left}
.bar-status hr.front{height: 3px;margin: 0px;padding: 0px;background: #53ad56;border-radius: 50px;position: absolute;top: 0px;/*width: 15px;*/}
.status-tpa{margin: 5px 0px;}

.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 13px; }
  .ngx-datatable.bootstrap .datatable-header {
    height: unset !important; }
    .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
      vertical-align: bottom;
      padding: 0.75rem;
      border-bottom: 1px solid #d1d4d7; }
      .ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
        line-height: 24px; }
  .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #d1d4d7; }
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
      background-color: rgba(0, 0, 0, 0.05); }
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
      background-color: #1483ff;
      color: #FFF; }
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
      text-align: left;
      vertical-align: top; }
  .ngx-datatable.bootstrap .datatable-footer {
    background: #424242;
    color: #ededed;
    margin-top: -1px; }
    .ngx-datatable.bootstrap .datatable-footer .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem; }
    .ngx-datatable.bootstrap .datatable-footer .datatable-pager {
      margin: 0 10px;
      vertical-align: top; }
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
        margin: 10px 0px; }
        .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
          background-color: #545454;
          font-weight: bold; }
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed; }
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-left,
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-skip,
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-right,
      .ngx-datatable.bootstrap .datatable-footer .datatable-pager .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
padding: 0 3px; }
.add-master-header{border-bottom: none;padding: 0px;}
.add-master-header .close{outline: none;right:0px;padding: 0px;opacity: 1;color: #FFF;text-shadow: none;}
.add-master-header .close span{display: block;}
.modal-content{border: 2px solid #009cb8;box-sizing: border-box;border-radius: 0px;}
.modal-body{padding: 0px 10px 10px 10px;}
.part-info{float: left;}
.text-name{font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.text-name span{display: inline-block;font-size: 11px;color: #999999;padding: 0px;margin: 0px;}
.text-name span input[type="checkbox"]{vertical-align: middle;margin-left: 5px;}
.text-value{font-size: 12px;padding: 0px;margin:0px 0px;color: #333333;}
.text-value .cust-values{width: 99%;padding:0px 5px;border: 1px solid #d9d9d9;color: #333333;background:#F2F2F2;box-sizing: border-box;height: 30px;outline: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
.text-value input[type="text"]{width: 85%;padding:0px 5px;border: 1px solid #d9d9d9;color: #333333;background:#F2F2F2;box-sizing: border-box;height: 30px;outline: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
.text-value .dropdown-menu{border-radius: 0px;padding: 0px;margin: 0px;background: #F2F2F2;}
.text-value .dropdown-item span{color:#333333; }
.text-value .dropdown-item.active, .dropdown-item:active{background:#00caef;}
.text-value .dropdown-item.active span, .dropdown-item:active span{color: #FFF;}
.text-value textarea{border: 1px solid #d9d9d9;color: #333333;padding:0px 5px;box-sizing: border-box;background:#F2F2F2;width: 85%;height: 30px;outline: none;resize: vertical;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
.text-value input[type="text"]{border: 1px solid #d9d9d9;padding:0px 5px;color: #333333;background:#F2F2F2;box-sizing: border-box;width: 85%;height: 30px;outline: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
.text-value select{border: 1px solid #d9d9d9;color: #333333;background:#F2F2F2;box-sizing: border-box;width: 85%;height: 30px;outline: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}
.text-value span.type-radio {display: inline-block;float: left;width: 50%;color: #999999;font-size: 14px;vertical-align: middle;}
.text-value .ui-widget-content{background: #F2F2F2;padding:0px;border-radius: 0px;color: #333333;}
.text-value .ui-autocomplete-panel .ui-autocomplete-list-item{padding:7px 10px;}
.text-value .ui-state-highlight{background: #009eba;color: #FFF;border-radius: 0px;}
.text-value .ui-inputtext{box-shadow: none;outline: none;}
.text-value .ui-inputtext:enabled:hover{border: 1px solid #d9d9d9;box-sizing: border-box;}
.text-value span input[type="radio"]{vertical-align: middle;margin-right:5px;}
.text-value .ui-autocomplete{display: initial;}
.text-value .ui-autocomplete .ui-autocomplete-dropdown{width: 1em;padding: 3px 0px;margin-left: -12px;border-radius: 0px 3px 3px 0px;}
.text-value .ui-autocomplete-panel{top:24px !important;}
.with-add{margin: 3px 0px;}
.with-add select{border: 1px solid #d9d9d9;box-sizing: border-box;color: #333333;background:#F2F2F2;width: 70%;height: 30px;outline: none;}
.with-add input[type="text"]{border: 1px solid #d9d9d9;box-sizing: border-box;color: #333333;background:#F2F2F2;width: 70%;height: 30px;outline: none;}
.with-add img{vertical-align: middle;cursor: pointer;margin-top:-5px;/*width: 25px;*/}
.add-new{/*background: #FFFFFF;*/float: left;padding: 0px 10px 30px 10px;}
.part-name{color: #009cb8;/*margin-bottom:10px;*/font-size: 11px;background: #F2F2F2;font-weight: 600;letter-spacing:0.5px;text-transform: uppercase;vertical-align: middle;}
.add-new .row{/*border-bottom: 1px solid #e6e6e6;box-sizing: border-box;*/padding:0px 0px 0px 0px;margin-bottom: 15px;}
.add-new .diff-row{padding:10px;background:#FFFFFF;/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.add-new .row.last{border-top: 1px solid #e6e6e6;box-sizing: border-box;padding-top: 10px;}
.part-info{margin: 3px 0px;}
.action-btn{float: left;margin-top:0px;}
.action-btn button.sav-add{background:#8c745d;border: none;outline:none;font-size: 13px;font-weight:500;vertical-align:middle;color: #FFF;text-align: center;padding: 0px 10px 0px 0px;cursor: pointer;margin-right:0px;}
.action-btn button.sav-add span{display: inline-block;background: #5c4834;margin-right: 10px;}

.action-btn button.sav{background:#00caef;border: none;outline:none;font-size: 13px;font-weight:500;vertical-align:middle;color: #FFF;text-align: center;padding: 0px 10px 0px 0px;cursor: pointer;}
.action-btn button.sav span{display: inline-block;background: #008299;margin-right: 10px;}

.action-btn button.sav-mail{background:#e35d14;border: none;outline:none;font-size: 13px;font-weight:500;vertical-align:middle;color: #FFF;text-align: center;padding: 0px 10px 0px 0px;cursor: pointer;}
.action-btn button.sav-mail span{display: inline-block;background: #a4430e;margin-right: 10px;}

.action-btn button.cancel{background:#b32d00;border: none;outline:none;font-size: 13px;font-weight:500;vertical-align:middle;color: #FFF;text-align: center;padding: 0px 10px 0px 0px;cursor: pointer;}
.action-btn button.cancel span{display: inline-block;background: #802000;margin-right: 10px;}

.ui-widget-header{background: transparent;border: none;}
.ui-state-default{background: #333333;border: 1px solid #333333;box-sizing: border-box;border-radius: 0px;font-size: 14px;font-weight: normal;}
.ui-state-active{background: #00caef;border: 1px solid #0098b3;box-sizing: border-box;border-radius: 0px;}
.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover{background: #333333;border: 1px solid #333333;box-sizing: border-box;border-radius: 0px;}
.ui-table .ui-table-thead > tr > th{background: #E6E6E6;color: #333333;border: 1px solid #CCC;box-sizing: border-box;padding: 8px 10px;}
.ui-table .ui-table-tbody > tr{background: #FFFFFF;}
.ui-table .ui-table-tbody > tr > td{border: 1px solid #CCCCCC;box-sizing: border-box;}
.ui-table .ui-sortable-column:not(.ui-state-highlight):hover{background: #E6E6E6;color: #333333;}
.ui-table .ui-sortable-column.ui-state-highlight{background: #E6E6E6;border: 1px solid #CCC;box-sizing:border-box;color: #333333;}
.save-email{margin:10px 0px 3px 0px;float: left;vertical-align: middle;font-size: 14px;padding: 0px;}
.save-email input[type="checkbox"]{vertical-align: middle;}
.email-recpnt{float: left;}
.email-recpnt .recpnt-text{font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;} 
.email-recpnt .recpnt-value{padding: 0px;font-size: 12px;}
.email-recpnt .recpnt-value select{border: 1px solid #d9d9d9;color: #333333;background: #F2F2F2;-webkit-box-sizing: border-box;box-sizing: border-box;width: 99%;height: 30px;outline: none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;}

.alert-danger{float: left;}

.ui-table-hide-on-sm{
    display: none !important;
}
.pic-div{/*/-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/margin-bottom: 20px;border: 1px solid #CCCCCC;box-sizing: border-box;}
.pic-name{padding: 5px 10px;color:#FFF;font-size:13px;text-transform:uppercase;letter-spacing:0.7px;margin:0px;float: left;background: #ad3e34;}
.pic-info{float: left;padding:0px 0px;margin: 0px;background: #FFFFFF;}
.pic-info table{width: 100%;padding: 0px;margin: 0px;float: left;}
.pic-info table thead tr th{background: #f0f0f0;color: #333333;font-size: 12px;padding:5px 10px;font-weight: 600;border-collapse: collapse;border-right:1px solid #b8b8b8;box-sizing: border-box;}
.pic-info table thead tr th:last-child{border-right: none;}
.pic-info table tbody tr td{padding: 5px 10px;font-size: 11px;letter-spacing:0.5px;font-weight:550;border: 1px solid #b8b8b8;box-sizing: border-box;}
.pic-info table tbody tr td:first-child{border-left: none;}
.pic-info table tbody tr td:last-child{border-right: none;}

.doc-div{/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/margin-bottom: 20px;border: 1px solid #CCCCCC;box-sizing: border-box;}
.doc-name{padding: 5px 10px;color:#FFF;font-size:13px;text-transform:uppercase;letter-spacing:0.7px;margin:0px;float: left;background: #cc7d23;}
.doc-info{float: left;padding:0px 0px;margin: 0px;background: #FFFFFF;}
.doc-info table{width: 100%;padding: 0px;margin: 0px;float: left;}
.doc-info table thead tr th{background: #f0f0f0;color: #333333;font-size: 12px;padding:5px 10px;font-weight: 600;border-collapse: collapse;border-right:1px solid #b8b8b8;box-sizing: border-box;}
.doc-info table thead tr th:last-child{border-right: none;}
.doc-info table tbody tr td{padding: 5px 10px;font-size: 11px;letter-spacing:0.5px;font-weight:550;border: 1px solid #b8b8b8;box-sizing: border-box;}
.doc-info table tbody tr td:first-child{border-left: none;}
.doc-info table tbody tr td:last-child{border-right: none;}

.financial-div{/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/margin-bottom: 20px;border: 1px solid #CCCCCC;box-sizing: border-box;}
.financial-name{padding: 5px 10px;color:#FFF;font-size:13px;text-transform:uppercase;letter-spacing:0.7px;margin:0px;float: left;background: #5a4675;}
.financial-info{float: left;padding:0px 0px;margin: 0px;background: #FFFFFF;}
.financial-info .ui-widget-content{background: transparent;padding: 0px;border: none;border-radius: 0px;}
.financial-info .ui-tabview.ui-tabview-top>.ui-tabview-nav{padding: 20px 50px 0px 50px;}
.financial-info .ui-tabview .ui-tabview-nav li{margin: 0px 00px 0px 0px;float: left;}
.financial-info .ui-tabview .ui-tabview-nav li a{display:block;text-align: center;font-weight:550;padding:7px 15px;font-size:12px;float: none;letter-spacing: 0.7px;}
.financial-info .ui-state-default{background: #5a4675;}
.financial-info .ui-state-active{background: #009eba;border: 1px solid #006c80;box-sizing: border-box;}
.financial-info .ui-tabview.ui-tabview-top>.ui-tabview-nav li{border-bottom: 1px solid #006c80;box-sizing: border-box;}
.financial-info .ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover{background: #009eba;border: 1px solid #006c80;box-sizing: border-box;}
.financial-info .ui-tabview .ui-tabview-panel{padding: 10px;margin: 5px 0px;}

.esti-table{padding: 0px;margin: 0px;float: left;/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/margin-bottom: 10px;border: 1px solid #CCC;box-sizing: border-box;}
.esti-table table{padding: 0px;margin: 0px;width: 100%;float: left;}
.esti-table table thead tr th{font-size: 12px;text-align: center;background: #f0f0f0;color: #333333;padding: 8px 10px;border-right:1px solid #b8b8b8;box-sizing: border-box;letter-spacing: 0.5px;}
.esti-table table thead tr th:last-child{border-right: none;}
.esti-table table tbody tr td{padding: 5px 10px;border: 1px solid #b8b8b8;box-sizing: border-box;color:#333;font-size: 11px;font-weight: 600;letter-spacing: 0.5px;}

.note-diff{margin: 10px 0px;}
.note-diff .ui-widget-content{background: transparent;padding: 0px;border: none;border-radius: 0px;}
.note-diff .ui-tabview-left>.ui-tabview-nav{width: 19%;height: auto;}
.note-diff .ui-tabview-left>.ui-tabview-panels{width: 81%;background: #FFFFFF;padding: 10px;/*-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;*/border: 1px solid #CCCCCC;box-sizing: border-box;}
.note-diff .ui-tabview.ui-tabview-left>.ui-tabview-nav li{border-right:1px solid #0098b3;box-sizing: border-box;}
.note-diff .ui-tabview.ui-tabview-left>.ui-tabview-nav li a{float: none;padding: 7px 5px;display: block;font-size: 12px;font-weight: 550;letter-spacing: 0.7px;}
.note-table{margin: 0px 0px;}
.note-table table{padding: 0px;margin: 0px;float: left;}
.note-table table tr th{font-size: 12px;text-align: center;background: #f0f0f0;color: #808080;padding: 8px 10px;border:1px solid #b8b8b8;box-sizing: border-box;}
.note-table table tr th:last-child{border-right: none;}
.note-table table tr td{padding: 5px 10px;border: 1px solid #b8b8b8;box-sizing: border-box;color:#333;font-size: 13px;font-weight: 600;letter-spacing: 0.5px;}
.dialog-info .ui-widget-content{background: #FFF;border: none;}
.dialog-info .ui-corner-top{border-top-left-radius: 0px;border-top-right-radius:0px;}
.dialog-info .ui-corner-all{border-radius: 0px;}
.dialog-info .ui-dialog .ui-dialog-titlebar{background:#009eba;color:#FFFFFF;font-size: 13px;font-weight:normal;}
.dialog-info .ui-dialog-footer{padding:0px 10px 10px 0px;}

button.reset{background: #4d4d4d;color: #FFF;font-size: 12px;border: 1px solid #333333;box-sizing: border-box;letter-spacing: 0.7px;padding: 3px 10px;font-weight:500;cursor: pointer;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;outline: none;}
.add-newsub{width:100%;float:left;}
.add-newsub .diff-row {padding: 10px;background: #FFFFFF;border: 1px solid #CCCCCC;box-sizing: border-box;/*-webkit-box-shadow: 0 0 5px#888;-moz-box-shadow: 0 0 5px #888;-ms-box-shadow: 0 0 5px #888;-o-box-shadow: 0 0 5px #888;box-shadow: 0 0 5px #888;*/}
.add-newsub .row{margin-bottom: 5px;}

.new-text-name{font-size: 11px;color: #404040;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.new-text-value{padding-bottom: 8px;font-size: 13px;}
.new-text-value span.chk{display: inline-block;font-size: 13px;}
.new-text-value span.chk input[type="radio"]{vertical-align: middle;margin-right:5px;}
.add-new-add select{border: 1px solid #bfbfbf;padding: 0px 5px;color: #333333;-webkit-box-sizing: border-box;box-sizing: border-box;width: 80% !important;height: 30px;outline: none;}
.new-text-value input[type="text"] {border: 1px solid #bfbfbf;padding: 0px 5px;color: #333333;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;height: 30px;outline: none;}
.new-text-value Select {border: 1px solid #bfbfbf;padding: 0px 5px;color: #333333;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;height: 30px;outline: none;}
.new-text-value textarea {border: 1px solid #bfbfbf;padding: 0px 5px;color: #333333;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;outline: none;}

.new-one .ui-corner-all{border-radius: 0px;}
.new-one .ui-widget-content{background: #FFFFFF;border: none;}
.new-one .ui-dialog .ui-dialog-titlebar{background: #333;color: #FFF;border-radius: 0px;font-weight: 600;}
.new-one .text{font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}

.new-one .enter-row{width: 100%;float: left;padding: 0px;margin:2px 0px;overflow: hidden;}
.enter-row .full{width: 98% !important;padding: 0px;margin: 0px;float: left;overflow: hidden;}
.enter-row .enter-left{width: 48%;padding: 0px;margin: 2px 1%;float: left;overflow: hidden;}
.enter-left .text{width: 100%;font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.enter-left .value{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;font-size: 13px;}
.value input[type="text"]{width: 99%;float: left;padding:2px 3px;margin: 0px;overflow: hidden;outline: none;height: 30px;}
.enter-row .enter-right{width: 48%;padding: 0px;margin: 2px 1%;float: left;overflow: hidden;}
.enter-right .text{width: 100%;font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.enter-right .value{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;font-size: 13px;}
.value input[type="text"]{width: 99%;float: left;padding:2px 3px;margin: 0px;overflow: hidden;outline: none;height: 30px;}