<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
    <div class="col-lg-2 col-md-2 col-sm-push-12 col-xs-push-12 text-right new-job">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding0" style="float:left;margin-bottom:20px;margin-top:3px;">
                    <span class="master-title" style="color:#0033cc;font-size:21px;">Master Job Details</span>
             </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-mail">
                    <a href="mailto:demo@test.com" style="color:#FFF;text-align:center;display:block;"><span class="job-mail-icon"><img src="../assets/images/at.png"></span>
                <span class="job-mail-text">Send Email</span></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right all-pics" style="cursor:pointer;">
                <!-- <a href="/"> -->
                    <span class="pic-icon"><img src="../assets/images/picture.png"></span>
                    <span>Pictures</span>
                <!-- </a> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-add">
                    <a *ngIf="masterNumberData !==null && masterNumberData !==undefined" routerLink="/Content/SubJobs/NewSubJobs/{{masterNumberData.mastNumHash}}" style="color:#FFF;">
                        <span class="job-icon"><img src="../assets/images/plus_icon_20.png"></span>
                        <span class="job-text" style="text-align:center;display:block;">Add New File</span></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center total-jobs" (click)="scroll(target)">
                <span>Total Files</span><span class="tj-count" *ngIf="subJobs!==undefined">{{this.subJobs.length}}</span>
            </div>
        </div>
            <div class="col-lg-10 col-md-10 col-sm-pull-12 col-xs-pull-12" style="float:left;">
               <masternumber-data [masterNumberData]="masterNumberData" [insurances]="insurances" (update)="updateMasterNumberData($event)"></masternumber-data>
            </div>
   </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 jobs-details">
     <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <common-notes></common-notes>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;">
                        <common-contacts [contacts]="contacts" [refSource]="refSource" (updateContact)="updateContacts($event)"></common-contacts>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;">
                        <masternumber-whiteboard *ngIf="masterNumberData!=undefined" [description]="masterNumberData.mastNumDesc" (updateDesc)="updateDescription($event)"></masternumber-whiteboard>
                </div>
            </div>
        </div>
    </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size:23px;color:#0033cc;">
      Files
  </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detailstable" #target>
       <p-table [columns]="cols" [value]="subJobs" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subJob >
                        <tr>
                                <td  style="text-align:center;"><span class="{{subJob.style}}"> {{ subJob.status }} </span></td>
                                <td>{{subJob.subJobCode }}</td>
                                <td>{{subJob.supervisor}}</td>
                                <td>{{subJob.estimator}}</td>
                                <td  style="text-align:center;"><a routerLink="/Content/SubJobs/SubJobsDetails/{{subJob.jobHashCode}}"><img [src]="subJob.jobImage" title="{{subJob.jobType}}"></a> </td>
                        </tr>
                    </ng-template>
           
        </p-table>
    </div>


 </div>

<div class="content-section implementation">
    <p-growl [(value)]="msgs"></p-growl>
</div>