.master-info table tbody tr td span{display: inline-block;}
span.job-images{display: inline-block;}
span.all-jobsimg{display: inline-block;position: relative;margin-right:2px;}
span.badge{background:#909091;color:#FFF;position:absolute;right:0;top:-3px;display: inline-block; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
span.badge:hover{background:#595959;cursor: pointer;}
span.badge:hover .PopupBox{display:block;}
.PopupBox span.close-pop{cursor:pointer;display: block;text-align: center;background: #595959;color:#FFF;font-size: 11px;bottom:-15px;position: absolute;width:100%;border-radius: 0px 0px 3px 3px;-webkit-border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;-ms-border-radius: 0px 0px 3px 3px;-o-border-radius: 0px 0px 3px 3px;letter-spacing: 0.5px;}
.PopupBox {
  display: none;
   width: 40px; 
  z-index: 1000;
  margin-top: 3px;
  margin-left: -5px;
  text-align: center;
  position: absolute;
  border-radius: 3px 3px 0px 0px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;-ms-border-radius:3px 3px 0px 0px;
  background-color: #F2F2F2;
  padding:5px 0px 3px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);-ms-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.PopupBox:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;
  /* border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #f2f2f2; */
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFF;
	border-width: 10px;
	margin-left: -10px;
}