<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-diff" style="float:left;padding:0px;">
        <span style="display:block;cursor:pointer;text-align:right;" ><img src="../assets/images/add.png" (click)="showDialog()"></span>
        <p-tabView>
            <p-tabPanel header="All Notes" [selected]="true">
                <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;padding-bottom:20px;">
                            <table>
                                <tr>
                                    <th>Additional spares are required</th>
                                    <td>Johson</td>
                                    <td>02/9/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Switch Off the Motor after cleaning</th>
                                    <td>David</td>
                                    <td>02/12/2018 9:00AM</td>
                                </tr>
                                <tr>
                                    <th>Get All Necessary Equipments</th>
                                    <td>Tyler</td>
                                    <td>02/10/2018 3:00AM</td>
                                </tr>
                                <tr>
                                    <th>Estimate Revised and Uploaded</th>
                                    <td>Antony</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Waiting for Approval from Adjuster</th>
                                    <td>Suseel</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Expecting revised estimate</th>
                                    <td>Tyler</td>
                                    <td>02/10/2018 3:00AM</td>
                                </tr>
                                <tr>
                                    <th>First stage of the Contract is completed</th>
                                    <td>Johson</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Waiting for the equipment for the second stage</th>
                                    <td>David</td>
                                    <td>02/12/2018 9:00AM</td>
                                </tr>
                            </table>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>
            <p-tabPanel header="Operational Notes">
                <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                            <table>
                                <tr>
                                    <th>Additional spares are required</th>
                                    <td>Johson</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Switch Off the Motor after cleaning</th>
                                    <td>David</td>
                                    <td>02/12/2018 9:00AM</td>
                                </tr>
                                <tr>
                                    <th>Get All Necessary Equipments</th>
                                    <td>Tyler</td>
                                    <td>02/10/2018 3:00AM</td>
                                </tr>
                            </table>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>
            <p-tabPanel header="Financial Notes">
                <p-scrollPanel [style]="{width: '100%', height: 'auto'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                            <table>
                                <tr>
                                    <th>Estimate Revised and Uploaded</th>
                                    <td>Antony</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Waiting for Approval from Adjuster</th>
                                    <td>Suseel</td>
                                    <td>02/12/2018 9:00AM</td>
                                </tr>
                                <tr>
                                    <th>Expecting revised estimate</th>
                                    <td>Tyler</td>
                                    <td>02/10/2018 3:00AM</td>
                                </tr>
                            </table>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>
            <p-tabPanel header="Sub Contractor Notes">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                    <table>
                            <tr>
                                <th>First stage of the Contract is completed</th>
                                <td>Johson</td>
                                <td>02/09/2018 11:00AM</td>
                            </tr>
                            <tr>
                                <th>Waiting for the equipment for the second stage</th>
                                <td>David</td>
                                <td>02/12/2018 9:00AM</td>
                            </tr>
                    </table>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Internal Notes">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                        <table>
                                <tr>
                                    <th>Estimate Revised and Uploaded</th>
                                    <td>Johson</td>
                                    <td>02/09/2018 11:00AM</td>
                                </tr>
                                <tr>
                                    <th>Get All Necessary Equipments</th>
                                    <td>David</td>
                                    <td>02/12/2018 9:00AM</td>
                                </tr>
                        </table>
                    </div>
                </p-tabPanel>
        </p-tabView>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Note" [(visible)]="display" modal="modal" width="550" [responsive]="true">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Notes</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                   <select>
                                       <option>Operational Notes</option>
                                       <option>Financial Notes</option>
                                       <option>SubContractor Notes</option>
                                       <option>Internal Notes</option>
                                   </select>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Notes Description</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <textarea style="width:100%;height:80px;"></textarea>
                                </div>
                            </div>
                    </div>
                    <p-footer>
                        <button type="button" pButton icon="fa-check" (click)="display=false" label="Create"></button>
                        <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                    </p-footer>
             </p-dialog>
      </div>